@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500&family=Playfair+Display:ital,wght@0,500;0,600;1,500&family=Poppins:ital,wght@0,400;0,500;1,400&display=swap');

/*variables*/
:root{
  --gray: #B0A3AC;
  --lightgray: #DAD6D5;
  --black: #1D1D1B;
  --lightblack: #40403b;
  --yellow: #DC990D;
  --white: #fff;
  --offwhite: #c2c2c2;
  --border: .1rem solid rgba(29, 29, 27,.3);

}

*{
  font-family: 'Nunito', sans-serif;
  margin: 0; padding: 0;
  box-sizing: border-box;
  outline: none; border: none;
  text-decoration: none !important;
  transition: all .2s linear;
  text-transform: capitalize;
}

html{
  overflow-x: hidden;
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 8rem;
}
section{
  padding: 5rem ;
}
body{
  background: var(--black);
}
ul{
  list-style-type: none;
  padding-left: 0;
}

/*================= 
#Typography
===================*/
h1,.h1{ font-size: 10rem }
h2,.h2{ font-size: 8rem }
h3,.h3{ font-size: 5rem }
h4,.h4{ font-size: 4rem }
h5,.h5{ font-size: 2rem }

p{
  line-height: 1.7;
}
p:last-child{
  margin-bottom: 0;
}

.kb-btn{
/*  margin-top: 1rem;*/
  display: inline-block;
  padding: 1rem 2.2rem;
  padding-right: 3rem;
  background: linear-gradient(130deg, var(--yellow) 93%, transparent 90%);
  color: var(--white);
  cursor: pointer;
  font-size: 1.4rem;
}
.kb-btn:hover{
  color: var(--white);
  transform: scale(1.1);
}
.kb-heading{
  font-size: 5rem;
  color: var(--yellow);
/*  border-bottom: .2rem solid var(--yellow);  */
  margin-bottom: 2rem;
  text-align: center;
  font-weight: 500;
}

/*header*/
.kb-header{
  background: var(--white);
  z-index: 1000;
}
.kb-header .container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.kb-header .container .kb-logo img{
  height: 10rem;
}
.kb-header .container .kb-navbar a{
  padding: .8rem 2rem;
  font-size: 1.8rem;
  color: var(--black);
  font-weight: 600;
}
.kb-header .container .kb-navbar a:hover{
  color: var(--white);
  background-color: var(--black);
}
.kb-header .container .kb-menu-btn .kb-btn{
  font-size: 2rem;
  color: var(--white);
  padding: .8rem 2rem;
  background: var(--black);
}
.kb-header .container .kb-menu-btn .kb-btn:hover{
  background: var(--yellow);
}
#kb-mob-btn{
  font-size: 4rem;
  color: var(--black);
  margin-left: 1rem;
  cursor: pointer;
  display: none;
}

.kb-home{
  padding: 0;
  margin-top: 6.5rem;
}
.kb-home .slide{
  position: relative;
  width: 120%;
  min-height: 95vh;
  background-size: cover !important;
  background-position: center !important;
  padding: 2rem 9%;
  display: flex;
  align-items: center;
  clip-path: polygon(0 0,100% 0,100% 85%,50% 100%,0 85%);
}
.kb-home .slide::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
.kb-home .content{
  width: 60rem;
  position: relative;
  z-index: 1;
}
.kb-home .content span{
  font-size: 2.5rem;
  color: var(--yellow);
  text-transform: uppercase;
  font-weight: 500;
}
.kb-home .content h3{
  color: var(--white);
  margin-bottom: 1rem;
}
.swiper-pagination-bullet{
  height: 1rem;
  width: 1rem;
  background: var(--white);
  border-radius: 0;
}
.swiper-pagination-bullet-active{
  background: var(--yellow);
}

/*about*/
.kb-about .kb-image{
  position: relative;
}
.kb-about .kb-image::before, .kb-about .kb-image::after{
  content: '';
  position: absolute;
  z-index: -1;
  background: var(--yellow);
  height: 15rem;
  width: 15rem;
}
.kb-about .kb-image::before{
  top: 0; left: 0;
}
.kb-about .kb-image::after{
  bottom: 0; right: 0;
}
.kb-about .kb-image img{
  width: 100%;
  padding: 1.5rem;
}
.kb-about .kb-content{
  padding-left: 4rem;
}
.kb-about .kb-content span{
  font-size: 2rem;
  color: var(--yellow);
  margin-bottom: 1rem;
}
.kb-about .kb-content h4{
  color: var(--white);
  margin-bottom: 1rem;
}
.kb-about .kb-content p{
  font-size: 1.5rem;
  color: var(--gray);
  padding: .5rem 0;
}
.kb-about .kb-box-container{
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 1rem;
}
.kb-about .kb-box-container .box{
  flex: 1 1 20rem;
}
.kb-about .kb-box-container .box h5{
  color: var(--white);
}
.kb-about .kb-box-container .box h5 i{
  padding-right: 1.5rem;
  color: var(--yellow);
}

/*skils*/
.kb-skills {
  background: var(--white);
  padding-bottom: 0;
}
.kb-skills .kb-wrap-content{
  width: 90%;
}
.kb-skills h4{
  color: var(--yellow);
  font-weight: 600;
}
.kb-skills .kb-wrap-content h4::after{
  border-bottom: .4rem solid var(--yellow);
  width: 50px;
  content: "";
  display: block;
  margin: 2rem 0;
}
.kb-skills p{
  font-size: 1.5rem;
  line-height: 1.5;
}
.kb-skills .kb-wrap-list{
  font-size: 2rem;
  font-weight: 600;
}
.kb-skills .kb-wrap-list li{
  text-transform: uppercase;
  margin: 2rem 0;
}
.kb-skills .kb-wrap-list li i{
  color: var(--yellow);
  padding-right: 1rem;
}
.kb-skills .kb-wrap-image img{
  width: 100%;
}
/*discount*/
.kb-discount{
  background: var(--white);
  padding: 0;
}
.kb-discount .container{
  background: var(--yellow);
}

/*services*/
.kb-service{
  background: var(--white);
/*  min-height: 100vh;*/
  text-align: center;
}
.kb-service .box{
  margin-bottom: 2rem;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  border-radius: 1rem;
}
.kb-service .box img{
  height: 25rem;
  width: 100%;
  object-fit: cover;
}
.kb-service .box .kb-content{
  padding: 2rem;
  height: 85%;
  width: 90%;
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%) scale(0);
  background: rgba(255,255,255, 0.8);
}
.kb-service .box:hover .kb-content{
  transform: translate(-50%, -50%) scale(1);
}
.kb-service .box .kb-content h4{
  color: var(--black);
  font-size: 3rem;
}
.kb-service .box .kb-content p{
  font-size: 1.5rem;
  line-height: 1.7;
}

/*pricing*/
.kb-pricing .box-container{
  margin: 4rem 0;
}
.kb-pricing .box{
  position: relative;
  padding: 4rem 3rem;
  background: var(--lightblack);
  border-radius: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  margin-bottom: 2.5rem;
}
.kb-pricing .box:hover{
  border: .1rem solid var(--yellow);
}
.kb-pricing .box span.kb-rec{
  position: absolute;
  top: -13px; left: 50px;
  font-size: 14px;
  padding: 7px 15px;
  background: var(--yellow);
  color: var(--white);
  border-radius: 1rem;
  text-transform: uppercase;
}
.kb-pricing .box .kb-content h5{
  color: var(--white);
}
.kb-pricing .box .kb-content p{
  color: var(--offwhite);
  font-size: 1.2rem;
}
.kb-pricing .box .kb-plan h4{
  color: var(--yellow);
  font-size: 2.6rem;
}
.kb-pricing .box .kb-plan span{
  float: right;
  color: var(--offwhite);
  font-size: 1.3rem;
  text-transform: none;
}

/*a day at training*/
.kb-training{
  padding: 0;
  position: relative;
}

.kb-training .kb-training-video{
  min-height: 70vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.kb-training .kb-training-video::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
.kb-training .kb-training-video .kb-content{
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.kb-training .kb-training-video .kb-content i{
  color: var(--yellow);
  font-size: 5rem;
  padding-bottom: 1rem;
  cursor: pointer;
  transition: transform .2s;
}
.kb-training .kb-training-video .kb-content i:hover{
  transform: scale(1.5);
}
.kb-training .kb-training-video .kb-content h4{
  color: var(--white);
  text-transform: uppercase;
  font-weight: 600;
}


/*trainers*/
.kb-trainer{
  background: var(--white);
}
.kb-trainer .box{
  cursor: pointer;
}
.kb-trainer .box:hover .kb-content{
  transform: translateY(0);
}
.kb-trainer .box .kb-image{
  overflow: hidden;
  position: relative;
  height: 40rem;
  margin: 0 20px;
  border-radius: 1rem;
}
.kb-trainer .box .kb-image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.kb-trainer .box .kb-content{
  position: absolute;
  bottom: 0; left: 0; right: 0;
/*  background: var(--lightblack);*/
  background: rgba(64, 64, 59, .8);
  padding: 2rem;
  transform: translateY(6.5rem);
}
.kb-trainer .box .kb-content span{
  font-size: 1.8rem;
  color: var(--yellow);
}
.kb-trainer .box .kb-content h5{
  color: var(--white);
  padding-top: .5rem;
}
.kb-trainer .box .kb-content .kb-social{
  padding-top: 2rem;
  margin-top: 1.5rem;
  border-top: .1rem solid var(--white);
}
.kb-trainer .box .kb-content .kb-social a{
  font-size: 2rem;
  color: var(--white);
  margin-right: 1rem;
}
/*testimonial*/
.kb-testimonial{
  background-color: #f2f2f2;
}
.kb-testimonial .kb-wrapper-testimonial{
  background-image: url('../img/map-dots.png');
}
.kb-testimonial .kb-wrap-testimonial{
  width: 70%;
  margin: 0 auto;
  text-align: center;
}
.kb-testi-img{
  border-radius: .7rem;
}
.kb-testimonial h5{
  margin-top: 1.5rem;
  font-weight: 600;
}
.kb-testimonial p{
  font-size: 2rem;
  line-height: 1.6;
  font-weight: 500;
}

.kb-testimonial p::before{
    content: "\"";
    font-weight: 800;
    display: block;
    color: var(--yellow);
    font-size: 64px;
    height: 28px;
    overflow: hidden;
    line-height: 1em;
    margin-bottom: 20px;
}
.slick-slide img {
     display: inline-block; 
}
/*contact us*/
.kb-contact{
  background: var(--white);
}
.kb-contact .kb-contact-form{
  color: var(--black);
}
.kb-contact .kb-contact-form h4{
  text-transform: uppercase;
}
.kb-contact .kb-contact-form p{
  font-size: 2.5rem;
  color: var(--lightblack);
  line-height: 1.4;
  text-transform: uppercase;
  font-weight: 500;
}
.kb-contact .kb-contact-form input, .kb-contact .kb-contact-form textarea{
  color: var(--black);
  width: 100%;
  padding: 1rem;
  font-size: 1.5rem;
  border: var(--border);
}
.kb-contact .kb-contact-form .kb-btn{
  margin-top: 2rem;
  font-size: 2rem;
}




/*footer*/
.kb-footer{
  padding-top: 6rem;
  color: var(--white);
  background: url(../img/footer-bg-black.jpg);
}
.kb-footer .kb-group a{
  color: var(--lightgray);
}
.kb-footer .kb-group a:hover{
  color: var(--yellow);
}
.kb-footer h5{
  text-transform: uppercase;
  font-weight: 600;
}
.kb-footer .box{
  margin-bottom: 2.5rem;
}
.kb-footer .box .kb-content{
  width: 90%;
  font-size: 1.4rem;
  color: var(--lightgray);
  padding-top: .7rem;
}
.kb-footer .box .kb-content span{
  font-size: 2rem;
}
.kb-footer .box .kb-content li i{
  padding-right: .8rem;
  color: var(--yellow);
}
.kb-footer .kb-group{
  font-size: 1.5rem;
  color: var(--lightgray);
  padding-top: .7rem;
  display: flex;
}
.kb-footer .kb-group i{
  font-size: 1.5rem;
  padding-top: .4rem;
  padding-right: 1rem;
  color: var(--yellow);
}
.kb-footer .kb-form{
  width: 50rem;
  display: flex;
  align-items: center;
}
.kb-footer .kb-form input{
  height: 100%;
  width: 100%;
  font-size: 1.4rem;
  color: var(--black);
  padding: 1rem;
}
.kb-footer .kb-form .kb-btn{
  margin-top: 1rem;
}
.kb-footer .kb-credit{
  font-size: 1.5rem;
  color: #fff;
  text-align: center;
  background-color: rgba(0,0,0,.25);
  padding: 2rem 0;
/*  margin-top: 5rem;*/
}
.kb-footer .kb-credit a{
  color: var(--white);
}
.kb-footer .kb-credit a:hover{
  color: var(--yellow);
}




















/*media queries*/
@media (max-width: 991px){
  html{
    font-size: 50%;
  }
  .kb-home .slide{
/*    padding: 2rem 5%;*/
  }
  .kb-home .slide .content{
    width: 50rem;
  }

}

@media (max-width: 768px){
  html{
/*    font-size: 45%;*/
  }
  #kb-mob-btn{
    display: inline-block;
  }
  #kb-mob-btn.fa-times{
    transform: rotate(180deg);
  }
  .kb-header .kb-navbar{
    position: absolute;
    top: 100%; right: 0; left: 0;
    background: var(--white);
    padding: 1rem 0;
    flex-flow: column;
    clip-path: polygon(0 0,100% 0,100% 0,0 0);
  }
  .kb-header .kb-navbar.active{
    clip-path: polygon(0 0,100% 0,100% 100%,0 100%);
  }
  .kb-header .kb-navbar a{
    color: var(--black);
    display: block;
    margin: 1.5rem;
    padding: .5rem;
    font-size: 2rem;
  }
  .kb-about .kb-content{
    padding-top: 8rem;
  }
  .kb-footer .container{
    padding: 4rem 9%;
  }

}

@media (max-width: 450px){
  html{
    font-size: 45%;
  }
  #kb-mob-btn{
    display: inline-block;
  }
  .kb-service .box .kb-content h4{
  color: var(--black);
  font-size: 2.5rem;
}
}
